
header{
    background-color: #009688;
    width: 100%;
    height: 100px;
}

main{
    background-color: #d8dbd5;
    width: 100%;
}

.my_main-window{
    margin: 0 auto;
    background-color: azure;
    width: 1500px;
    height: 800px;
}

.my_contacts-window{
    background-color: cornsilk;
    width: 470px;
    height: 100%;
}

.my_chat-window{
    background-image: url("mine.jpg");
    width: calc(100% - 100px);
    height: 100%;
}

.my_single-person{
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
}

.my_notification{
    background-color: #8edafc;
    width: 100%;
    height: 90px;
}

.my_bell{
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
}

.my_personal {
    background-color:#eaeaea;
    width: 100%;
    height: 80px;
    border-left: solid #d6d6d6 1px ;
}

.my_search{
    background-color: #fafafa;
    width: 100%;
    height: 70px;
}
.my_search-ppl{
    background-color: #ffffff;
    width: 95%;
    height: 70%;
}