
header{
    background-color: #009688;
    width: 100%;
    height: 100px;
}

main{
    background-color: #d8dbd5;
    width: 100%;
    height: 100%;
}

.my_main-window{
    margin: 0 auto;
    /*background-color: azure;*/
    width: 1500px;
    height: 1100px; 
}

.my_contacts-window{
    background-color: white;
    width: 470px;
    height: 100%;
}

.my_chat-dialog-window{
    width: calc(100% - 100px);
}

.my_chat-window{
    background-image: url("mine.jpg");
    width: 100%;
    height: calc(100% - 100px) ;
    position: relative;
}

.my_dialog-window{
    background-color:#f3eeea;
    width: 100%;
    height: 100px;
}

/*.my_smile{
    width: 50px;
    height: 50px;
    /*margin: 0 auto;
}
*/

i{
    width: 100%;
}

.my_input{
    background-color: white;
    width: 900px;
    border-radius: 10px;
}

.my_single-person{
    background-color: #eaeaea;
    width: 100%;
    height: 80px;
}

.my_notification{
    background-color: #8edafc;
    width: 100%;
    height: 90px;
}

.michele{
    background-color: khaki;
    width: 100%;
    height: 90px;
}

.claudia{
    background-color: #ffffff;
    width: 100%;
    height: 90px;
    border-top: 1px solid #d6d6d6;
}

.my_bell{
    background-color: white;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    border-radius: 50%;
}

.my_personal {
    background-color:#eaeaea;
    width: 100%;
    height: 80px;
    border-left: solid #d6d6d6 1px ;
}

.my_search{
    background-color: #fafafa;
    width: 100%;
    height: 70px;
}
.my_search-ppl{
    background-color: #ffffff;
    width: 95%;
    height: 70%;
}

.my_h{
    font-size: small;
    color: #b7bcc8;
}

.my_bell-icon {
    margin: 0 auto;
}

.green1{
    background-color: #d5f9ba;
    width:250px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 150px;
    right: 200px;
}

.green2{
    background-color: #d5f9ba;
    width:250px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 200px;
    right: 200px;
}

.white{
    background-color: white;
    width:250px;
    height: 40px;
    border-radius: 10px;
    position: absolute;
    top: 300px;
    left: 200px;
}

.my_hs{
    font-size: x-small;
    position: absolute;
    bottom: 5px;
    right: 5px;
}